<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,29},{20,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,7}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>bg_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{154,89}}</string>
                <key>sourceSize</key>
                <string>{182,99}</string>
            </dict>
            <key>bg_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,57},{127,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{127,72}}</string>
                <key>sourceSize</key>
                <string>{141,88}</string>
            </dict>
            <key>bg_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{76,53}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>cupid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{54,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>cupid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,203},{48,71}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>cupid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,149},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>cupid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,186},{50,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>cupid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,93},{54,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>cupid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{54,71}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{54,71}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{25,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,10}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>monster_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{66,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{66,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>monster_grey_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,253},{49,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{49,63}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>monster_grey_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,238},{49,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{49,63}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet-iPhone.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86efbb02a516773e527a79fdd623b89b$</string>
            <key>textureFileName</key>
            <string>spritesheet-iPhone.png</string>
        </dict>
    </dict>
</plist>
